body
{
    font-family: Roboto, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}


/* HEADER */

header
{
    background-color: #1f4e79;
    color: white;
    text-align: center;
    padding: 10px;
}

#course-title
{
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
}


/* NAV */

nav
{
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a
{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover
{
    background-color: white;
    color: #1f4e79;
}



/* MAIN */

main
{
    max-width: 800px;
    margin: auto;
    padding: 10px;
}


h1
{
    text-align: center;
}



/* CARDS */

.card
{
    background: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}


.card img
{
    width: 150px;
    float: right;
    margin-left: 10px;
}



/* FOOTER */

footer
{
    background-color: #1f4e79;
    color: white;
    text-align: center;
    padding: 10px;
}